/* Contents. */

.profile_pic {  /* profile picture. */
	object-fit: cover;
	object-position: 0% 15%;
	height: 45vh;
	min-height: 300px;
	width: 35vw;
	max-width: 500px;
}

.profile_pic_static {  /* profile picture: img (static). */
	position: absolute;
	transition: opacity 135ms ease-in;
}

.profile_pic_active {  /* profile picture: img (active). */
	z-index: -1;
}
.profile_pic_div:hover .profile_pic_static{  /* profile picture: img (hover effect). */
	opacity: 0;
}

.about_me {  /* about me div. */
	width: 50%;
	max-width: 500px;
	flex-grow: 1;
	padding: 0 2vw 0 6%;
}

.name {  /* about me div: my name. */
	font-size: 20px;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-weight: bold;
	color: #0C1D40;
}
.name span {
	display: inline-block;
	transition: transform 135ms;
}
.name span:hover {
	transform: translateY(-3px);
}

.selfintro {  /* about me div: sel introduction paragraph. */
	font-size: 18px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	line-height: 150%;
	color: #333333;
}

.navbar {  /* about me div: navigation bar div. */
	display: flex;
	flex-grow: 0;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 20px 0 0;
}

.nav_but {  /* about me div: navigation button div. */
	font-size: 26px;
	margin: 0 15px 0 0;
}
.nav_but .material-icons {
	font-size: 26px;
}

.contact_but {  /* about me div: contact button. */
	color: #4BCAD1;
	transition: transform 120ms;
}

.nav_but:hover .contact_but {  /* about me div: navigation button (hover effect). */
	transform: translateY(-3px);
}

.timeline_but {  /* about me div: timeline icon. */
	color: #205373;
}

.nav_but:hover .timeline_but {  /* about me div: navigation button (hover effect). */
	transform: translateY(-3px);
	animation: bounce 0.6s infinite;
}

.nav_info {  /* about me div: navigation icon explanation. */
	position: relative;
	font-size: 16px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	margin-right: 3px;
}

#journey_info {
	opacity: 0;
	position: absolute;
	margin: 3px 0;
	width: 100px;
	color: #205373;
	transition: opacity 120ms ease-in;
}
#journey:hover ~ .nav_info #journey_info {
	opacity: 1;
}

#resume_info {
	opacity: 0;
	position: absolute;
	margin: 3px 0;
	width: 80px;
	/*color: #4BCAD1;*/
	color: #205373;
	transition: opacity 120ms ease-in;
}
#resume:hover ~ .nav_info #resume_info {
	opacity: 1;
}

.case_study {  /* case study div. */
	position: relative;
	margin: 0 1.5% 16px 0;
	max-width: 500px;
}

.case_header {  /* case study div: header div. */
	position: absolute;
	top: 50%;
	left: 50%;
	width: 89%;
	border-radius: 2.5px;
	transform: translate(-50%, -50%);
	color: #333333;
	transition: color 135ms ease-in;
	transition: background-color 135ms ease-in;
}
.case_header p {
	margin: 12px 0;
}
.case_header_div {
	width: 98.2%;
	padding: 1 0 1 2%;
}
.case_header_div div {
	width: 90%;
	margin: 0 auto;
}

.case_title {  /* case study div: title. */
	font-size: 16.5px;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-weight: bold;
	transition: color 135ms ease-in;
}

.case_info {  /* case study div: information. */
	font-size: 13px;
	line-height: 150%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	transition: color 135ms ease-in;
}

.case_des {  /* case study div: description. */
	font-size: 14px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.case_pic {
	height: 35vh;
	min-height: 300px;
	object-fit: cover;
	width: 100%;
}

.case_pic_static {  /* case study div: img (static). */
	position: absolute;
	/*border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
	border-radius: 35% 15% 15% 35% / 30% 20% 30% 20%;*/
	transition: opacity 135ms ease-in;
}

.case_pic_active {  /* case study div: img (active). */
	z-index: -1;
}

.case_study:hover .case_header {  /* case study div: header div (hover effect). */
	color: #000000;
	background-color: rgba(255, 255, 255, 0.75);  /* #FFFFFF. */
	backdrop-filter: saturate(200%) blur(2.5px);
}
.case_study:hover .case_title {
	color: #071126;
}
.case_study:hover .case_info {
	color: #205373;
}

.case_study:hover .case_pic_static{  /* case study div: img (hover effect). */
	opacity: 0;
}


/* Responsive. */

@media screen and (min-width: 1100px) {
	.case_title { font-size: 18px; }
	.case_info { font-size: 14px; }
	.case_des { font-size: 15px; }
}

@media screen and (max-width: 1000px) {
	.case_title { font-size: 15px; }
	.case_info { font-size: 12px; }
	.case_des { font-size: 12.5px; }
}

@media screen and (max-width: 880px) {
	.case_info { display: none; }
}

@media screen and (max-width: 580px), (orientation: portrait) {
	.page { padding: 0; }
	.flex_div {
		flex-wrap: wrap;
		padding: 35px 15px 0 15px;
	}
	#top_div { padding-top: 0; }
	.selfintro .only_mobile { display: inline; }
	.selfintro .only_desktop { display: none; }
	.profile_pic {
		height: 35vh;
		width: 100vw;
		margin-bottom: 1.8vh;
	}
	.profile_pic_static{ opacity: 0; }
	.name { font-size: 18px; }
	.name span { pointer-events: none; }
	#journey:hover ~ .nav_info #journey_info { opacity: 0; }
	#resume:hover ~ .nav_info #resume_info { opacity: 0; }
	.case_header {
		color: #000000;
		background-color: rgba(255, 255, 255, 0.6);
		backdrop-filter: blur(1px);
	}
	.case_title {
		font-size: 16.5px;
		color: #071126;
	}
	.case_info {
		display: inline;
		font-size: 14px;
		color: #205373;
	}
	.case_des { font-size: 15px; }
	.case_pic { height: 20vh; }
	.case_pic_static{  /* case study div: img (hover effect). */
		opacity: 0.15;
	}
	.case_study:hover .case_header {
		background-color: rgba(255, 255, 255, 0.75);
		backdrop-filter: saturate(200%) blur(2.5px);
	}
	.case_study:hover .case_pic_static{  /* case study div: img (hover effect). */
		opacity: 0;
	}
}