/* Contents. */

.timeline {  /* line of time line on the left. */
	border-left: 3px solid #4BCAD1;
	margin-left: 15px;
	min-height: 100vh;
}

.home_div {  /* home button: div. */
	position: fixed;
	transform: translateX(-50%) translateX(-1.35px);
	top: 0;
	height: 50px;
	background-color: #FAF5EF;
	padding: 5px;
}

.home_but {}  /* home button: icon container. */
.home_but .material-icons {
	font-size: 30px;
}
.home_icon {  /* home button: icon. */
	margin-top: 20px;
	color: #205373;
}

.home_but:hover .home_icon {
	animation: bounce 0.6s infinite;
}

.timestamp {  /* timestamp on the timeline. */
	position: sticky;
	display: inline-flex;
	z-index: 1;
	text-decoration: none;
}

.timestamp_node {  /* timestamp: node shape. */
	transform: translateX(-50%) translateX(-1.5px);
	width: 10px;
	height: 10px;
	border: 3px solid #4BCAD1;
	border-radius: 50%;
	background-color: #FAF5EF;
}
#node_19F {
	top: 75px;
	bottom: 84px;
}
#node_20W {
	top: 91px;
	bottom: 68px;
}
#node_20S {
	top: 107px;
	bottom: 52px;
}
#node_20su {
	top: 123px;
	bottom: 36px;
}
#node_20F {
	top: 139px;
	bottom: 20px;
}

.timestamp_time {  /* timestamp: quarter info. */
	font-size: 14px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #4BCAD1;
	margin: 0;
	transform: translateY(-1px);
	transition: transform 135ms;
}

.timestamp_time span {  /* to help with hover animation. */
	display: none;
}
.timestamp:hover .timestamp_time span {
	display: inline;
}
.timestamp:hover .timestamp_time {
	transform: translate(2px, -1px);
}

.timestamp.stuck .timestamp_time {  /* visible timestamp. */
	color: #205373;
}

.info_div {  /* quarter info div. */
	margin: 0 0 3vh 120px;
}

.flex_div {  /* customize flex div for the all journeys page. */
	flex-wrap: wrap;  /* flex div container wrap-able. */
	padding: 3vh 0 12px 0;
}

.slide {  /* slideshow helper. */
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 50vw;
	text-align: center;
}

.light {  /* slideshow background color. */
	background-color: #FFFFFF;
}
.dark {
	background-color: #333333;
}

.slide_pic {  /* slideshow: image. */
	height: 35vh;
	min-height: 200px;
	object-fit: contain;
	margin: 0 calc(25vw-50%);
}

.slide_but {  /* slideshow: prev & next buttons. */
	color: #4BCAD1;
	background: none;
	border: none;
	height: 35vh;
	min-height: 200px;
}
.slide_but span {
	font-size: 45px;
}

.slidenode_div {  /* slideshow: slidenodes div. */
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slidenode {  /* slideshow: slidenode. */
	border: none;
	padding: 0;
	margin: 10px 4px 0;
	background-color: #E3E3E3;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.slidenode.light {  /* slideshow: when lighting a slidenode. */
	background-color: #4BCAD1;
}

.case_study {  /* case study div. */
	position: relative;
	margin: 0 1.5% 16px 0;
	max-width: 350px;
}

.case_header {  /* case study div: header div. */
	position: absolute;
	top: 50%;
	left: 50%;
	width: 89%;
	border-radius: 2.5px;
	transform: translate(-50%, -50%);
	color: #333333;
	transition: background-color 135ms ease-in;
}
.case_header p {
	margin: 12px 0;
}
.case_header_div {
	width: 98.2%;
	padding: 1 0 1 2%;
}
.case_header_div div {
	width: 90%;
	margin: 0 auto;
}

.case_title {  /* case study div: title. */
	font-size: 16.5px;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-weight: bold;
}

.case_info {  /* case study div: information. */
	font-size: 13px;
	line-height: 150%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.case_des {  /* case study div: description. */
	font-size: 14px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.case_pic {
	height: 35vh;
	min-height: 200px;
	object-fit: cover;
	width: 100%;
}

.case_pic_static {  /* case study div: img (static). */
	position: absolute;
	transition: opacity 135ms ease-in;
}

.case_pic_active {  /* case study div: img (active). */
	z-index: -1;
}

.case_study:hover .case_header {  /* case study div: header div (hover effect). */
	color: #000000;
	background-color: rgba(255, 255, 255, 0.75);
}

.case_study:hover .case_pic_static{  /* case study div: img (hover effect). */
	opacity: 0;
}


/* Responsive. */

@media screen and (min-width: 1100px) {}

@media screen and (max-width: 1000px) {}

@media screen and (max-width: 880px) {}

@media screen and (max-width: 580px), (orientation: portrait) {}