/* Layout. */

body {  /* default body style. */
	background-color: #FAF5EF;
	margin: 0;
}

.page {  /* page width limitation. */
	width: 75vw;
	min-width: 400px;
	margin: 0 auto;
	padding: 3vh 0 0 0;
	/*background-color: #FAF5EF;*/  /* For testing. */
}

.flex_div {  /* flex container. */
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 35px 0 0 15px;
	/*background-color: #E3E3E3;*/  /* For testing. */
}

.center {
	margin: 0 auto;
	text-align: center;
}

.only_desktop {}  /* hide in the mobile version. */
.only_mobile {  /* hide in the desktop version. */
	display: none;
}

.zoomin {  /* cursor customize. */
	cursor: zoom-in;
}

.supsub {  /* to display supsub together. */
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	vertical-align: middle;
	font-size: 50%;
}


/* Responsive. */

@media (hover: none) {}  /* touch screen. */