/* Layout. */

.page {  /* page width limitation. */
	width: 75vw;
	min-width: 500px;
	margin: 0 auto;
	padding: 5vh 0;
	/*background-color: #FAF5EF;*/  /* For testing. */
}

.flex_div {  /* flex container. */
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 0 0 15px;
	/*background-color: #E3E3E3;*/  /* For testing. */
}

.flex_div div {  /* flex item: div. */
	flex-grow: 1;
	/*background-color: #F0F0F0;*/  /* For testing. */
}


/* Contents. */

.timeline {  /* timeline div. */
	width: 50%;
}

.profile_pic {  /* timeline div: profile picture. */
	width: 100%;
}

.timestamp {  /* timeline div: timestamp. */
}

.timestamp_node {  /* timeline div: timestamp node. */
}

.timestamp:hover .timestamp_node {  /* timeline div: timestamp node (hover effect). */
}


.about_me {  /* about me div. */
	width: 50%;
	padding: 0 20px 0 6%;
}

.name {  /* about me div: my name. */
	font-size: 20px;
	font-family: Georgia, serif;
	font-weight: bold;
	color: #205373;
}

.selfintro {  /* about me div: sel introduction paragraph. */
	font-size: 18px;
	font-family: Helvetica, sans-serif;
	font-weight: 80%;
	line-height: 150%;
	color: #333333;
}

.contact_div {  /* about me div: contact bar div. */
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.contact {  /* about me div: contact button div. */
	font-size:24px;
	margin: 0 15px 0 0;
}

.contact_but {  /* about me div: contact button. */
	color: #4BCAD1;
	transition: transform 120ms;
}

.contact:hover .contact_but {  /* about me div: contact button (hover effect). */
	transform: translateY(-5px);
}


.case_study {  /* case study div. */
	margin: 0 4% 20px 0;
	position: relative;
}

.case_header {  /* case study div: header div. */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	color: #333333;
}

.case_header span {  /* to help bgcolor animation. */
	transition: background-color 135ms ease-in;
}

.case_title {  /* case study div: title. */
	font-size: 18px;
	font-family: Georgia, serif;
	font-weight: bold;
}

.case_des {  /* case study div: description. */
	font-size: 15px;
	font-family: Helvetica, sans-serif;
}

.case_pic_static {  /* case study div: img (static). */
	width: 100%;
	position: absolute;
	transition: opacity 135ms ease-in;
}

.case_pic_active {  /* case study div: img (active). */
	width: 100%;
	z-index: -1;
}

.case_study:hover .case_header span {  /* case study div: header div (hover effect). */
	background-color: #FFFFFF;
}

.case_study:hover .case_pic_static{  /* case study div: img (hover effect). */
	opacity:0;
}