/* Layout. */

body {  /* default body style. */
	background-color: #FAF5EF;
	margin: 0;
}

.page {  /* page width limitation. */
	width: 75vw;
	min-width: 400px;
	margin: 0 auto;
	padding: 3vh 0 0 0;
	animation: load 0.6s;
	/*background-color: #FAF5EF;*/  /* For testing. */
}
@keyframes load {  /* animation when a new page is loaded. */
	from { opacity: 0; }
	to { opacity: 1; }
}

html {  /* control scrolling effects. */
	scroll-behavior: smooth;
}
body {
	overscroll-behavior: none;
}

.flex_div {  /* flex container. */
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 35px 0 0 15px;
	/*background-color: #E3E3E3;*/  /* For testing. */
}

.center {
	margin: 0 auto;
	text-align: center;
}

.only_desktop {}  /* hide in the mobile version. */
.only_mobile {  /* hide in the desktop version. */
	display: none;
}

.zoomin {  /* cursor customize. */
	cursor: zoom-in;
}
.zoomout {
	cursor: zoom-out;
}

::selection {  /* selection customize. */
	color: #FAF5EF;
	background: #205373;
}
::-moz-selection {
	color: #FAF5EF;
	background: #205373;
}

.dis_select {  /* to disable selecting this element. */
	user-select: none; /* Chrome, Opera */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}

@keyframes bounce {  /* bouncing animation. */
	0%, 100% { transform: translateY(0px); }
	50% { transform: translateY(-3px); }
}

.supsub {  /* to display supsub together. */
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	vertical-align: middle;
	font-size: 50%;
}


/* Responsive. */

@media (hover: none) {}  /* touch screen. */