/**
 * Notes:
 * 
 * -webkit-:
 *	The -webkit- prefix is needed for Safari and Chrome when using transitions,
 *	transforms, animation, gradients, calc, flexbox, and columns. For
 *	border-radius, box-shadow, border-image, and text-shadow it's not really
 *	necessary unless you want to cover older browsers like Safari 5.0.
 */



/**--- Style guidelines --**/

:root {

	/* color */
	--color-zangqing: #071126;
	--color-kongquelan: #0C1D40;
	--color-lanlv: #205373;			--color-lanlv-rgb-R: 32;	--color-lanlv-rgb-G: 83;	--color-lanlv-rgb-B: 115;
	--color-lvsongshi: #4BCAD1;
	--color-xihongshi: #FD6041;
	--color-xiangyabai: #FAF5EF;
	--color-gray1-33: #333333;
	--color-gray2-66: #666666;
	--color-gray3-99: #999999;
	--color-gray4-CC: #CCCCCC;
	--color-gray5-E3: #E3E3E3;
	--color-gray6-F0: #F0F0F0;	--color-gray6-F0-rgb-R: 240;	--color-gray6-F0-rgb-G: 240;	--color-gray6-F0-rgb-B: 240;
	--color-black: #000000;
	--color-white: #FFFFFF;

	/* timing */
	--delay-xs: 65ms;
	--delay-s: 135ms;
	--delay-m: 270ms;
	--delay-l: 540ms;
	--delay-xl: 800ms;
	--delay-infinite: 100000ms;

	/* font */
	--font-serif: Georgia, Times, "Times New Roman", serif;
	--font-sans-serif-light: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	--font-sans-serif-roman: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	--font-default: 18px;		--lineheight-default: calc(1.5 * var(--font-default));
	--font-hint: 16px;			--lineheight-hint: calc(1.5 * var(--font-hint));
	--font-display: 40px;		--lineheight-display: calc(1.2 * var(--font-display));
	--font-giant: 80px;			--lineheight-giant: calc(1 * var(--font-giant));

	/* border radius */
	--radius-l: 8px;
	--radius-m: 4px;
	--radius-s: 2px;
	--radius-circle: 100%;
}

body {
	margin: 0;
	font-family: var(--font-sans-serif-light);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	font-size: var(--font-default);
	line-height: var(--lineheight-default);
	margin-block-start: calc(0.5 * var(--lineheight-default));
	margin-block-end: calc(0.5 * var(--lineheight-default));
}
span {
	font-size: var(--font-default);
	line-height: var(--lineheight-default);
}

::selection {
	color: var(--color-xiangyabai);
	background: var(--color-xihongshi);
	text-shadow: none;
}
::-moz-selection {
	color: var(--color-xiangyabai);
	background: var(--color-xihongshi);
	text-shadow: none;
}



/**--- Basic ---**/

.text_light { color: var(--color-gray1-33); }
.text_dark { color: var(--color-xiangyabai); }

.text_hint {
	font-family: var(--font-sans-serif-roman);
	font-size: var(--font-hint);
	line-height: var(--lineheight-hint);
}
.text_hint_light { color: var(--color-lvsongshi); }
.text_hint_dark { color: var(--color-gray3-99); }

.dis_select {  /* to disable selecting this element. */
	user-select: none;					/* Chrome, Opera */
	-webkit-user-select: none;	/* Safari */
	-khtml-user-select: none;		/* Konqueror HTML */
	-moz-user-select: none;			/* Firefox */
	-ms-user-select: none;			/* Internet Explorer/Edge */
}

/* cursor customize. */
.cursor_pointer { cursor: pointer; }
.cursor_zoomin { cursor: zoom-in; }
.cursor_zoomout { cursor: zoom-out; }
.cursor_readmore { cursor: url("./assets/read_more_cursor.svg"), pointer; }

.zlift { z-index: 1; } /* z-index lifting tool. */

.clickthrough { pointer-events: none; }

/* animation. */
.smooth_animation_xs {
	-webkit-transition: all var(--delay-xs) ease-in-out;
	-moz-transition: all var(--delay-xs) ease-in-out;
	-ms-transition: all var(--delay-xs) ease-in-out;
	-o-transition: all var(--delay-xs) ease-in-out;
	transition: all var(--delay-xs) ease-in-out;
}
.smooth_animation_s {
	-webkit-transition: all var(--delay-s) ease-in-out;
	-moz-transition: all var(--delay-s) ease-in-out;
	-ms-transition: all var(--delay-s) ease-in-out;
	-o-transition: all var(--delay-s) ease-in-out;
	transition: all var(--delay-s) ease-in-out;
}
.smooth_animation_m {
	-webkit-transition: all var(--delay-m) ease-in-out;
	-moz-transition: all var(--delay-m) ease-in-out;
	-ms-transition: all var(--delay-m) ease-in-out;
	-o-transition: all var(--delay-m) ease-in-out;
	transition: all var(--delay-m) ease-in-out;
}
.smooth_animation_l {
	-webkit-transition: all var(--delay-l) ease-in-out;
	-moz-transition: all var(--delay-l) ease-in-out;
	-ms-transition: all var(--delay-l) ease-in-out;
	-o-transition: all var(--delay-l) ease-in-out;
	transition: all var(--delay-l) ease-in-out;
}
.smooth_animation_xl {
	-webkit-transition: all var(--delay-xl) ease-in-out;
	-moz-transition: all var(--delay-xl) ease-in-out;
	-ms-transition: all var(--delay-xl) ease-in-out;
	-o-transition: all var(--delay-xl) ease-in-out;
	transition: all var(--delay-xl) ease-in-out;
}
/*.animation_bounce {
	animation: bounce var(--delay-xl) ease-in-out infinite;
	-webkit-transition: transform var(--delay-xl) ease-in-out;
	-moz-transition: transform var(--delay-xl) ease-in-out;
	-ms-transition: transform var(--delay-xl) ease-in-out;
	-o-transition: transform var(--delay-xl) ease-in-out;
	transition: transform var(--delay-xl) ease-in-out;
}
@keyframes bounce {
	0%, 100%{ transform: translateY(0px); }
	50% { transform: translateY(-8px); }
}*/

.page {
	position: relative;
	width: 100vw;
	height: 100vh;
	min-width: 800px;
	overflow: hidden;
	-webkit-transition: background-color var(--delay-l) ease-in-out;
	-moz-transition: background-color var(--delay-l) ease-in-out;
	-ms-transition: background-color var(--delay-l) ease-in-out;
	-o-transition: background-color var(--delay-l) ease-in-out;
	transition: background-color var(--delay-l) ease-in-out;
}

/* containers to help with positioning. */
.full_page_container {
	position: absolute;
	transform: translate(-50%,-50%);
	width: 100vw;
	height: 100vh;
	left: 50vw;
	top: 50vh;
}
.flex_container { display: flex; }
.flex_container_row { display: flex; flex-direction: row; }
.flex_container_col { display: flex; flex-direction: column; }



/**--- Small components ---**/

.modebtn {
	position: absolute;
	width: 24px;
	height: 24px;
	top: 8px;
	right: 8px;
	border:  1px solid; /* use border instead of outline to avoid weird behavior of safari */
	-webkit-border-radius: var(--radius-circle);
	-khtml-border-radius: var(--radius-circle);
	-moz-border-radius: var(--radius-circle);
	border-radius: var(--radius-circle);
}

.modebtn_light { border-color: var(--color-gray4-CC); /* outline-color: var(--color-gray4-CC); */ }
.modebtn_dark { border-color: var(--color-gray2-66); /* outline-color: var(--color-gray2-66); */ }

.modebtn_light:hover {
	border-color: var(--color-gray1-33); /* outline-color: var(--color-gray1-33); */
	background-color: var(--color-gray1-33);
}
.modebtn_dark:hover {
	border-color: var(--color-white); /* outline-color: var(--color-white); */
	background-color: var(--color-white);
}

.modebtn_icon {
	width: 16px;
	height: 16px;
	margin: 4px; /* centralize */
	-webkit-border-radius: var(--radius-circle);
	-khtml-border-radius: var(--radius-circle);
	-moz-border-radius: var(--radius-circle);
	border-radius: var(--radius-circle);
}

.modebtn_light .modebtn_icon {
	content: "";
	mask-image: url("./assets/modebtn_icon_moon.svg");
	-webkit-mask-image: url("./assets/modebtn_icon_moon.svg");
	background-color: var(--color-gray4-CC);
}
.modebtn_dark .modebtn_icon {
	content: "";
	mask-image: url("./assets/modebtn_icon_sun.svg");
	-webkit-mask-image: url("./assets/modebtn_icon_sun.svg");
	background-color: var(--color-gray2-66);
}

.modebtn_animation_circle {
	position: absolute;
	width: 24px;
	height: 24px;
	transform: translate(50%,-50%);
	top: 20px;
	right: 20px;
	-webkit-border-radius: var(--radius-circle);
	-khtml-border-radius: var(--radius-circle);
	-moz-border-radius: var(--radius-circle);
	border-radius: var(--radius-circle);
}

.modebtn_animation_background {
	position: absolute;
	width: 100vw;
	height: 100vh;
	transform: translate(-50%,-50%);
	left: 50vw;
	top: 50vh;
}

.modebtn_light + .modebtn_animation_circle {
	background-color: var(--color-white);
	animation:
		modebtn_color_circle_spread_light_to_dark var(--delay-l) ease-in var(--delay-xs);
}
@keyframes modebtn_color_circle_spread_light_to_dark {
	0% {
		width: 24px;
		height: 24px;
		opacity: 1;
	}
	100% {
		width: calc(200vw + 200vh);
		height: calc(200vw + 200vh);
		opacity: 0;
	}
}
.modebtn_dark + .modebtn_animation_circle {
	background-color: var(--color-gray1-33);
	animation: modebtn_color_circle_spread_dark_to_light var(--delay-l) ease-in var(--delay-xs);
}
@keyframes modebtn_color_circle_spread_dark_to_light {
	0% {
		width: 24px;
		height: 24px;
		opacity: 1;
	}
	100% {
		width: calc(200vw + 200vh);
		height: calc(200vw + 200vh);
		opacity: 0;
	}
}

.bio_list {
	list-style: none;
	padding-left: 0px;
}

.bio_list li {
	line-height: var(--lineheight-default);
	background-repeat: no-repeat;
}

.bio_list_large_light li {
	background-image: url("./assets/bullet_large_light.svg");
	background-position: left top calc(0.5 * var(--lineheight-default) - 8px); /* 8px radius bullet */
	padding-left: 24px;
}
.bio_list_large_dark li {
	background-image: url("./assets/bullet_large_dark.svg");
	background-position: left top calc(0.5 * var(--lineheight-default) - 8px);
	padding-left: 24px;
}
.bio_list_small_light li {
	background-image: url("./assets/bullet_small_light.svg");
	background-position: left top calc(0.5 * var(--lineheight-default) - 4px); /* 4px radius bullet */
	padding-left: 18px;
}
.bio_list_small_dark li {
	background-image: url("./assets/bullet_small_dark.svg");
	background-position: left top calc(0.5 * var(--lineheight-default) - 4px);
	padding-left: 18px;
}
.bio_list_tiny_light li {
	background-image: url("./assets/bullet_tiny_light.svg");
	background-position: left top calc(0.5 * var(--lineheight-default) - 2px); /* 2px radius bullet */
	padding-left: 12px;
}
.bio_list_tiny_dark li {
	background-image: url("./assets/bullet_tiny_dark.svg");
	background-position: left top calc(0.5 * var(--lineheight-default) - 2px);
	padding-left: 12px;
}

.bio_item {
	position: relative;
	left: 4px;
	display: flex;
	flex-direction: row;
	vertical-align: middle;
	align-items: flex-start;
	padding: 0;
	gap: 8px;
}

.bio_item_text {
	left: 0px;
}

.bio_fieldname {
	text-transform: uppercase;
	font-family: var(--font-sans-serif-roman);
	font-size: var(--font-hint);
	align-self: center;
}

.bio_fieldname_light { color: var(--color-lvsongshi); }
.bio_fieldname_dark { color: var(--color-gray3-99); }

.bio_fieldname_container {
	height: var(--lineheight-default);
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}



/**--- Home Page ---**/

.home_page_light { background-color: var(--color-white); }
.home_page_dark { background-color: var(--color-gray1-33); }

.home_tabs {
	display: flex;
	flex-direction: column;
	height: 288px; /* 48px icon * 3 + 72px gap * 2 */
	justify-content: space-between;
	align-items: center;
	padding: 0px;
	-webkit-transition: height var(--delay-m) ease-in-out, top var(--delay-m) ease-in-out;
	-moz-transition: height var(--delay-m) ease-in-out, top var(--delay-m) ease-in-out;
	-ms-transition: height var(--delay-m) ease-in-out, top var(--delay-m) ease-in-out;
	-o-transition: height var(--delay-m) ease-in-out, top var(--delay-m) ease-in-out;
	transition: height var(--delay-m) ease-in-out, top var(--delay-m) ease-in-out;
	/*display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 72px; /* 80px actual gap - (48px div height - 40px icon height) * 2 / 2 */
	/*-webkit-transition: gap var(--delay-m) ease-in-out, top var(--delay-m) ease-in-out;
	-moz-transition: gap var(--delay-m) ease-in-out, top var(--delay-m) ease-in-out;
	-ms-transition: gap var(--delay-m) ease-in-out, top var(--delay-m) ease-in-out;
	-o-transition: gap var(--delay-m) ease-in-out, top var(--delay-m) ease-in-out;
	transition: gap var(--delay-m) ease-in-out, top var(--delay-m) ease-in-out;*/
}

.home_tabs_nonjourney {
	height: 288px; /* 48px icon * 3 + 32px gap * 2 */
	gap: 72px; /* 80px actual gap - (48px div height - 40px icon height) * 2 / 2 */
}

.home_tabs_journey {
	height: 240px; /* 48px icon * 3 + 32px gap * 3 */
	gap: 32px; /* 40px actual gap - (48px div height - 40px icon height) * 2 / 2 */
}

.home_tabs_div_outer {
	position: absolute;
	top: 50vh;
}

.home_tabs_div_inner {
	position: relative;
}

.home_tab {
	width: 40px;
	height: 40px;
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	-webkit-transition: width var(--delay-s) ease-in-out, height var(--delay-s) ease-in-out, background-color var(--delay-l) ease-in-out;
	-moz-transition: width var(--delay-s) ease-in-out, height var(--delay-s) ease-in-out, background-color var(--delay-l) ease-in-out;
	-ms-transition: width var(--delay-s) ease-in-out, height var(--delay-s) ease-in-out, background-color var(--delay-l) ease-in-out;
	-o-transition: width var(--delay-s) ease-in-out, height var(--delay-s) ease-in-out, background-color var(--delay-l) ease-in-out;
	transition: width var(--delay-s) ease-in-out, height var(--delay-s) ease-in-out, background-color var(--delay-l) ease-in-out;
}

.home_tab_div {
	width: 48px;
	height: 48px;
	position: relative;
}

.home_tab_div:hover .home_tab {
	width: 48px;
	height: 48px;
}

.home_tab_switching {
	-webkit-transition: background-color var(--delay-s) ease-in-out;
	-moz-transition: background-color var(--delay-s) ease-in-out;
	-ms-transition: background-color var(--delay-s) ease-in-out;
	-o-transition: background-color var(--delay-s) ease-in-out;
	transition: background-color var(--delay-s) ease-in-out;
}

.home_tabs_primary {
	transform: translate(-50%,-50%);
	left: 60px;
	-webkit-transition: top var(--delay-m) ease-in-out;
	-moz-transition: top var(--delay-m) ease-in-out;
	-ms-transition: top var(--delay-m) ease-in-out;
	-o-transition: top var(--delay-m) ease-in-out;
	transition: top var(--delay-m) ease-in-out;
}

.home_tabs_primary_journey {
	top: 160px;
		/* 40px top margin + (3 * 48px icon + 2 * 32px gap + 1 * 32px gap after timeline shows up) / 2,
		use this instead of transform to avoid weird jump in animation */
}

.home_tab_primary_default_light { background-color: var(--color-gray4-CC); }
.home_tab_primary_active_light { background-color: var(--color-lvsongshi); }
.home_tab_primary_default_dark { background-color: var(--color-gray2-66); }
.home_tab_primary_active_dark { background-color: var(--color-gray6-F0); }

.home_tab_primary_resume {
	mask-image: url("./assets/primary_nav_tab_resume_outline.svg");
	-webkit-mask-image: url("./assets/primary_nav_tab_resume_outline.svg");
}
.home_tab_div:hover .home_tab_primary_resume {
	mask-image: url("./assets/primary_nav_tab_resume_filled.svg");
	-webkit-mask-image: url("./assets/primary_nav_tab_resume_filled.svg");
}
.home_tab_primary_resume_active {
	mask-image: url("./assets/primary_nav_tab_resume_download.svg");
	-webkit-mask-image: url("./assets/primary_nav_tab_resume_download.svg");
}
.home_tab_primary_home {
	mask-image: url("./assets/primary_nav_tab_home_outline.svg");
	-webkit-mask-image: url("./assets/primary_nav_tab_home_outline.svg");
}
.home_tab_div:hover .home_tab_primary_home {
	mask-image: url("./assets/primary_nav_tab_home_filled.svg");
	-webkit-mask-image: url("./assets/primary_nav_tab_home_filled.svg");
}
.home_tab_primary_home_active {
	mask-image: url("./assets/primary_nav_tab_home_filled.svg");
	-webkit-mask-image: url("./assets/primary_nav_tab_home_filled.svg");
}
.home_tab_primary_journey {
	mask-image: url("./assets/primary_nav_tab_journey_outline.svg");
	-webkit-mask-image: url("./assets/primary_nav_tab_journey_outline.svg");
}
.home_tab_div:hover .home_tab_primary_journey {
	mask-image: url("./assets/primary_nav_tab_journey_filled.svg");
	-webkit-mask-image: url("./assets/primary_nav_tab_journey_filled.svg");
}
.home_tab_primary_journey_active {
	mask-image: url("./assets/primary_nav_tab_journey_filled.svg");
	-webkit-mask-image: url("./assets/primary_nav_tab_journey_filled.svg");
}

.home_tabs_primary_selected {
	position: absolute;
	height: 100%;
	transform: translateX(-100%);
	left: -8px;
	width: 8px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	animation: none var(--delay-m) ease-in-out 1; /* none → static by default */
	-webkit-transition: background-image var(--delay-l) ease-in-out, display var(--delay-l) ease-in-out;
	-moz-transition: background-image var(--delay-l) ease-in-out, display var(--delay-l) ease-in-out;
	-ms-transition: background-image var(--delay-l) ease-in-out, display var(--delay-l) ease-in-out;
	-o-transition: background-image var(--delay-l) ease-in-out, display var(--delay-l) ease-in-out;
	transition: background-image var(--delay-l) ease-in-out, display var(--delay-l) ease-in-out;
}

.home_tabs_primary_selected_resume { background-position: center bottom -20px; }
.home_tabs_primary_selected_home { background-position: center center; }
.home_tabs_primary_selected_journey { background-position: center top -100px; }

.home_tabs_primary_selected_resume_to_home { animation-name: home_tabs_primary_selected_resume_to_home; }
@keyframes home_tabs_primary_selected_resume_to_home {
	0% { background-position: center bottom -20px; }
	100% { background-position: center center; }
}
.home_tabs_primary_selected_resume_to_journey { animation-name: home_tabs_primary_selected_resume_to_journey; }
@keyframes home_tabs_primary_selected_resume_to_journey {
	0% { background-position: center bottom -20px; visibility: hidden; }
	80% { visibility: hidden; }
	100% { background-position: center top -100px; visibility: visible; }
}
.home_tabs_primary_selected_home_to_resume { animation-name: home_tabs_primary_selected_home_to_resume; }
@keyframes home_tabs_primary_selected_home_to_resume {
	0% { background-position: center center; }
	100% { background-position: center bottom -20px; }
}
.home_tabs_primary_selected_home_to_journey { animation-name: home_tabs_primary_selected_home_to_journey; }
@keyframes home_tabs_primary_selected_home_to_journey {
	0% { background-position: center center; visibility: hidden; }
	80% { visibility: hidden; }
	100% { background-position: center top -100px; visibility: visible; }
}
.home_tabs_primary_selected_journey_to_resume { animation-name: home_tabs_primary_selected_journey_to_resume; }
@keyframes home_tabs_primary_selected_journey_to_resume {
	0% { background-position: center top -100px; }
	100% { background-position: center bottom -20px; }
}
.home_tabs_primary_selected_journey_to_home { animation-name: home_tabs_primary_selected_journey_to_home; }
@keyframes home_tabs_primary_selected_journey_to_home {
	0% { background-position: center top -100px; }
	100% { background-position: center center; }
}

.home_tabs_primary_selected_light { background-image: url("./assets/home_tabs_primary_selected_dot_light@2x.png"); }
.home_tabs_primary_selected_dark { background-image: url("./assets/home_tabs_primary_selected_dot_dark@2x.png"); }

.home_tabs_contact {
	transform: translate(50%,-50%);
	right: 60px;
}

.home_tab_contact_light { background-color: var(--color-gray4-CC); }
/*.home_tab_contact_div:hover .home_tab_contact_light { background-color: var(--color-lvsongshi); }*/
.home_tab_contact_dark { background-color: var(--color-gray2-66); }
/*.home_tab_contact_div:hover .home_tab_contact_dark { background-color: var(--color-gray6-F0); }*/

.home_tab_contact_email {
	mask-image: url("./assets/contact_btn_email_outline.svg");
	-webkit-mask-image: url("./assets/contact_btn_email_outline.svg");
}
.home_tab_div:hover .home_tab_contact_email {
	mask-image: url("./assets/contact_btn_email_filled.svg");
	-webkit-mask-image: url("./assets/contact_btn_email_filled.svg");
}
.home_tab_contact_instagram {
	mask-image: url("./assets/contact_btn_instagram_outline.svg");
	-webkit-mask-image: url("./assets/contact_btn_instagram_outline.svg");
}
.home_tab_div:hover .home_tab_contact_instagram {
	mask-image: url("./assets/contact_btn_instagram_filled.svg");
	-webkit-mask-image: url("./assets/contact_btn_instagram_filled.svg");
}
.home_tab_contact_linkedin {
	mask-image: url("./assets/contact_btn_linkedin_outline.svg");
	-webkit-mask-image: url("./assets/contact_btn_linkedin_outline.svg");
}
.home_tab_div:hover .home_tab_contact_linkedin {
	mask-image: url("./assets/contact_btn_linkedin_filled.svg");
	-webkit-mask-image: url("./assets/contact_btn_linkedin_filled.svg");
}

.home_display_div_outer { /* about me as default */
	align-self: stretch;
	flex-grow: 1;
	display: flex;
	padding: 40px 160px 80px;
	-webkit-transition: padding var(--delay-l) ease-in-out;
	-moz-transition: padding var(--delay-l) ease-in-out;
	-ms-transition: padding var(--delay-l) ease-in-out;
	-o-transition: padding var(--delay-l) ease-in-out;
	transition: padding var(--delay-l) ease-in-out;
}

.home_display_div_inner {
	align-self: stretch;
	flex: 1 0 480px; /* 800px page min-width - 2 * 160px side margins */
	-webkit-border-radius: var(--radius-l);
	-khtml-border-radius: var(--radius-l);
	-moz-border-radius: var(--radius-l);
	border-radius: var(--radius-l);
	-webkit-transition: background-color var(--delay-l) ease-in-out;
	-moz-transition: background-color var(--delay-l) ease-in-out;
	-ms-transition: background-color var(--delay-l) ease-in-out;
	-o-transition: background-color var(--delay-l) ease-in-out;
	transition: background-color var(--delay-l) ease-in-out;
	display: flex;
	flex-direction: row;
	padding: 40px;
	gap: 40px;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

.home_display_div_light { background-color: var(--color-gray6-F0); }
.home_display_div_dark { background-color: var(--color-lanlv); }



/**--- About me ---**/

.selfintro {
	align-self: stretch;
	overflow-y: scroll;
	overflow-x: visible;
	padding-bottom: 160px;
}

.selfintro_name {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0px;
	gap: 0px 16px;
	margin-block-start: 40px;
	margin-block-end: 40px;
}

.selfintro_name_word {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 0px;
	gap: 0px;
}

.selfintro_name_word>span {
	display: inline-block;
	font-size: var(--font-giant);
	line-height: var(--lineheight-giant);
	transition: transform 135ms;
	font-family: var(--font-serif);
	font-weight: bold;
}

.selfintro.text_light>.selfintro_name>span {
	color: var(--color-kongquelan);
}

.selfintro_name_word>span:hover {
	transform: translateY(-4px);
	-webkit-transition: transform var(--delay-xs);
	-moz-transition: transform var(--delay-xs);
	-ms-transition: transform var(--delay-xs);
	-o-transition: transform var(--delay-xs);
	transition: transform var(--delay-xs);
}

.profile_pic {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	object-fit: cover;
	object-position: 40% 25%;
		/* adjusted according to head position in the profile picture used */
	height: 100%;
	width: 100%;
}

.profile_pic_div {
	align-self: stretch;
	flex: 1 0 35%;
	position: relative;
	-webkit-border-radius: var(--radius-m);
	-khtml-border-radius: var(--radius-m);
	-moz-border-radius: var(--radius-m);
	border-radius: var(--radius-m);
	overflow: hidden;
}

.profile_pic_static {  /* profile picture, static before hovering. */
	transition: opacity var(--delay-s) ease-in;
}
.profile_pic_div:hover .profile_pic_static{  /* profile picture hover effect. */
	opacity: 0;
}



/**--- Resume ---**/

.home_display_div_outer_resume {
	padding: 0px 160px;
	overflow: hidden;
}

.home_display_div_inner_resume {
	margin: auto;
	max-height: 100vh;
	padding: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	/*border: 2px solid var(--color-gray1-33);*/
}

.resume {
	width: 100%;
	min-width: 1000px;
}

.resume_div {
	overflow: scroll;
}

/* GlassMagnifier */

.resume_GM {
	margin: 0px auto auto;
}

.resume_GM>div { /* magnifier glass */
	-webkit-border-radius: var(--radius-m) !important;
	-khtml-border-radius: var(--radius-m) !important;
	-moz-border-radius: var(--radius-m) !important;
	border-radius: var(--radius-m) !important;
	/*width: 640px !important;
	height: 240px !important;*/
}

.resume_GM>img { /* small img */
	width: 100% !important;
/*	max-height: 100vh !important;
	min-height: 100vh !important;
	max-width: 100% !important;
	object-fit: contain !important;*/
}

.resume_GM>div>img { /* big img */
	width: 100vw !important;
	min-width: 1000px !important;
}



/**--- Cases ---**/

.case_objects {
	align-self: stretch;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
		/* TODO: not using "justify-content: center;" here to avoid dynamic calculation of gap,
		however this might cause problem when screen is too narrow */
	align-items: flex-end;
	padding: 0px 320px; /* 240px padding on the side + 160px object width / 2 */
}

.case_objects_div {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	pointer-events: none;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity var(--delay-m) ease-in-out, visibility var(--delay-m) ease-in-out;
	-moz-transition: opacity var(--delay-m) ease-in-out, visibility var(--delay-m) ease-in-out;
	-ms-transition: opacity var(--delay-m) ease-in-out, visibility var(--delay-m) ease-in-out;
	-o-transition: opacity var(--delay-m) ease-in-out, visibility var(--delay-m) ease-in-out;
	transition: opacity var(--delay-m) ease-in-out, visibility var(--delay-m) ease-in-out;
}

.case_objects_div_active {
	visibility: visible;
	opacity: 1;
}

.case_object {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	width: 160px; /* 1/2 of the original width 320pxpx */
	height: 120px;
	/*bottom: -120px;*/
	-webkit-transition: bottom var(--delay-l) ease-in-out;
	-moz-transition: bottom var(--delay-l) ease-in-out;
	-ms-transition: bottom var(--delay-l) ease-in-out;
	-o-transition: bottom var(--delay-l) ease-in-out;
	transition: bottom var(--delay-l) ease-in-out;
}

.case_objects_div_active .case_object {
	bottom: 0px;
}

.case_object_div {
	width: 0px;
	position: relative;
	pointer-events: auto;
}

.case_object_img {
	position: absolute;
	transform: translateY(0px);
	-webkit-transition: transform var(--delay-l) ease-in-out;
	-moz-transition: transform var(--delay-l) ease-in-out;
	-ms-transition: transform var(--delay-l) ease-in-out;
	-o-transition: transform var(--delay-l) ease-in-out;
	transition: transform var(--delay-l) ease-in-out;
}

.case_object_img_active { transform: translateY(-80px); }

.home_display_div_inner_case {
	flex-direction: row;
}

.casebrief_div {
	align-self: flex-start;
	flex: 0 0 calc(65% - 64px); /* (100% - 35% left gap width) - 40px gap - 24px left margin in casebrief_div */
	-webkit-border-radius: var(--radius-m);
	-khtml-border-radius: var(--radius-m);
	-moz-border-radius: var(--radius-m);
	border-radius: var(--radius-m);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 24px;
	gap: 24px;
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
}

.home_display_div_light>.casebrief_div { background-color: var(--color-gray6-F0); }
.home_display_div_dark>.casebrief_div { background-color: var(--color-lanlv); }
/*.home_display_div_light>.casebrief_div { background-color: rgba(var(--color-gray6-F0-rgb-R), var(--color-gray6-F0-rgb-G), var(--color-gray6-F0-rgb-B), 0.6); }
.home_display_div_dark>.casebrief_div { background-color: rgba(var(--color-lanlv-rgb-R), var(--color-lanlv-rgb-G), var(--color-lanlv-rgb-B), 0.6); }*/

.casebrief_title {
	font-family: var(--font-serif);
	/*font-weight: bold;*/
	font-size: var(--font-display);
}

.casebrief {
	align-self: stretch;
	display: flex;
	flex-direction: column;
	padding: 0px;
	gap: 0px;
}

.home_display_div_light.home_display_div_inner_ACM { background-image: url("./assets/ACM_thumbnail_light.png"); }
.home_display_div_dark.home_display_div_inner_ACM { background-image: url("./assets/ACM_thumbnail_dark.png"); }
.home_display_div_light.home_display_div_inner_Bitsrealm { background-image: url("./assets/Bitsrealm_thumbnail_light.png"); }
.home_display_div_dark.home_display_div_inner_Bitsrealm { background-image: url("./assets/Bitsrealm_thumbnail_dark.png"); }
.home_display_div_light.home_display_div_inner_RehaBuddy { background-image: url("./assets/RehaBuddy_thumbnail_light.png"); }
.home_display_div_dark.home_display_div_inner_RehaBuddy { background-image: url("./assets/RehaBuddy_thumbnail_dark.png"); }
.home_display_div_light.home_display_div_inner_CruzRoja { background-image: url("./assets/CruzRoja_thumbnail_light.png"); }
.home_display_div_dark.home_display_div_inner_CruzRoja { background-image: url("./assets/CruzRoja_thumbnail_dark.png"); }



/**--- Journey ---**/

.home_display_div_outer_journey {
	padding: 8px 120px;
	overflow: hidden;
}

.home_display_div_inner_journey {
	flex: 1 0 560px; /* 800px page min-width - 2 * 120px side margins */
}

/* Journey timeline */

.journey_timeline_div {
	position: relative;
	height: 0px;
}

.journey_timeline_line {
	content: "";
	height: 100vh;
	border-left: 2px solid;
	-webkit-transition: border var(--delay-m), border-color var(--delay-l) ease-in-out;
	-moz-transition: border var(--delay-m), border-color var(--delay-l) ease-in-out;
	-ms-transition: border var(--delay-m), border-color var(--delay-l) ease-in-out;
	-o-transition: border var(--delay-m), border-color var(--delay-l) ease-in-out;
	transition: border var(--delay-m), border-color var(--delay-l) ease-in-out;
}

.journey_timeline_line_light { border-color: var(--color-gray4-CC); }
.journey_timeline_line_dark { border-color: var(--color-gray2-66); }
