/**
 * Notes:
 * 
 * Hex color code for transparency:
 *	https://gist.github.com/lopspower/03fb1cc0ac9f32ef38f4
 * 
 * -webkit-:
 *	The -webkit- prefix is needed for Safari and Chrome when using transitions,
 *	transforms, animation, gradients, calc, flexbox, and columns. For
 *	border-radius, box-shadow, border-image, and text-shadow it's not really
 *	necessary unless you want to cover older browsers like Safari 5.0.
 */



/*!*--- Style guidelines ---**/

	/* Color */
	$color-zangqing: #071126;		// 藏青
	$color-kongquelan: #0C1D40;	// 孔雀蓝
	$color-lanlv: #205373;			// 蓝绿
	$color-lvsongshi: #4BCAD1;	// 绿松石
	$color-xihongshi: #FD6041;	// 西红柿
	$color-xiangyabai: #FAF5EF;	// 象牙白
	$color-gray1-33: #333333;		// 墨（灰1-#3）
	$color-gray2-66: #666666;		// 灰2-#6
	$color-gray3-99: #999999;		// 灰3-#9
	$color-gray4-CC: #CCCCCC;		// 灰4-#C
	$color-gray5-E3: #E3E3E3;		// 灰5-#E3
	$color-gray6-F0: #F0F0F0;		// 灰6-#F0
	$color-black: #000000;			// 黑
	$color-white: #FFFFFF;			// 白

	/* Timing */
	$time-xs: 65ms;
	$time-s: 135ms;
	$time-m: 270ms;
	$time-l: 540ms;
	$time-xl: 800ms;
	$time-infinite: 100000ms;

	/* Font family */
	$font-serif: Georgia, Times, "Times New Roman", serif;
	$font-sans-serif-light: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	$font-sans-serif-roman: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

	/* Font size & lineheight */
	$font-default: 18px;
		$lineheight-default: 1.5 * $font-default;
		$lineheight-default-comfy: 1.8 * $font-default;
	$font-hint: 16px;
		$lineheight-hint: 1.5 * $font-hint;
	$font-h1: 28px;
		$lineheight-h1: 1.5 * $font-h1;
		$letterspacing-h1: 0.01rem;
	$font-h2: 20px;
		$lineheight-h2: 1.5 * $font-h2;
		$letterspacing-h2: 0.01rem;
	$font-display: 40px;
		$lineheight-display: 1.2 * $font-display;
	$font-giant: 80px;
		$lineheight-giant: 1 * $font-giant;
	$font-explanation: 12px;
		$lineheight-explanation: 1.2 * $font-explanation;

	/* Border radius */
	$radius-l: 8px;
	$radius-m: 4px;
	$radius-s: 2px;
	$radius-circle: 100%;
	$radius-inf: 1000px;

	/* Border width */
	$border-width-s: 1px;
	$border-width-m: 1.6px;
	$border-width-l: 2px;

	/* Standard margin */
	$block-reel: 16px 0px;
	$case-margin-left: 16px;
	$scroll-margin: 40px;

	/* Drop shadow */
	$image-shadow-filter:
		drop-shadow(0px 0px 0.25px rgba(51, 51, 51, 0.25))
		drop-shadow(0px 2px 2px rgba(153, 153, 153, 0.15))
		drop-shadow(0px 0px 8x rgba(204, 204, 204, 0.25));
	$image-shadow-boxshadow:
		0px 0px 0.5px rgba(51, 51, 51, 0.3),
		0px 2px 3.5px rgba(153, 153, 153, 0.2),
		0px 0px 10px rgba(204, 204, 204, 0.3);
			// 墨，灰3-#9，灰4-#C

	/* Opacity */
	$opacity-35: 0.35;
	$opacity-12: 0.12;

	/* Ratio */
	$ratio-default: 60%;

	/* Animation */
	@mixin transition($transition: none) {
		-webkit-transition: $transition;
		-moz-transition: $transition;
		-ms-transition: $transition;
		-o-transition: $transition;
		transition: $transition;
	}



/*!*--- Basic component ---**/

	/* Text */

	body {
		margin: 0;
		font-family: $font-sans-serif-light;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		overscroll-behavior-y: none;
	}

	p {
		font-size: $font-default;
		line-height: $lineheight-default;
		margin-block-start: 0.5 * $lineheight-default;
		margin-block-end: 0.5 * $lineheight-default;
		@include transition($transition: color $time-l ease-in-out);
	}
	span {
		font-size: $font-default;
		line-height: $lineheight-default;
	}

	a {
		text-decoration: none;
		//@include transition($transition: color $time-m ease-in-out);
	}
	a:hover { color: $color-lvsongshi; }

	ul { margin: $block-reel; }

	.text_hint {
		font-family: $font-sans-serif-roman;
		font-size: $font-hint;
		line-height: $lineheight-hint;
		-webkit-transition: color $time-l ease-in-out;
		-moz-transition: color $time-l ease-in-out;
		-ms-transition: color $time-l ease-in-out;
		-o-transition: color $time-l ease-in-out;
		transition: color $time-l ease-in-out;
	}

	.text_emphasize {
		font-size: $font-h1;
		letter-spacing: $letterspacing-h1;
		line-height: $lineheight-h1;
		margin-block-end: calc(1.5 * $lineheight-default);
	}

	/* Content layout */
	.content {

		p {
			line-height: $lineheight-default-comfy;
			margin-block-end: calc(1.5 * $lineheight-default);
		}

		span {
			background-color: var(--color);
			border-radius: $radius-s;
			box-shadow: $radius-s 0 0 var(--color), calc(-1 * $radius-s) 0 0 var(--color);
			-webkit-box-decoration-break: clone;
			box-decoration-break: clone;
				/* reference:  https://stackoverflow.com/questions/63184618/how-to-highlight-some-phrases-with-rounded-boxes-in-text-with-css */
		}

		a {
			position: relative;
			z-index: 1;
			white-space: nowrap;
			-webkit-transition: color $time-xs ease-in-out;
			-moz-transition: color $time-xs ease-in-out;
			-ms-transition: color $time-xs ease-in-out;
			-o-transition: color $time-xs ease-in-out;
			transition: color $time-xs ease-in-out;
			/* TODO: different color transition speed upon hover vs. when mode changes */
		}
		a::before {
			content: "";
			background-color: $color-lvsongshi;
			height: $border-width-l;
			border-radius: $radius-inf;
			display: block;
			position: absolute;
			width: 100%;
			left: 0;
			bottom: -8%;
			z-index: -1;
		}

		ul { margin: $font-default 0; }
		ol { margin: $font-default 0; }
	}

	/* Selection */

	::selection {
		color: $color-xiangyabai;
		background: $color-xihongshi;
		text-shadow: none;
	}
	::-moz-selection {
		color: $color-xiangyabai;
		background: $color-xihongshi;
		text-shadow: none;
	}

	.dis_select {
		user-select: none;					/* Chrome, Opera */
		-webkit-user-select: none;	/* Safari */
		-khtml-user-select: none;		/* Konqueror HTML */
		-moz-user-select: none;			/* Firefox */
		-ms-user-select: none;			/* Internet Explorer/Edge */
	}

	/* Cursor customization */

	.cursor_pointer { cursor: pointer; }
	.cursor_zoomin { cursor: zoom-in; }
	.cursor_zoomout { cursor: zoom-out; }

	.cursor_readmore_1 { cursor: url("./assets/basic/read_more_1_cursor.svg") 50 116, pointer; } /* set as 1 pixel less for Safari */
	.cursor_readmore_2 { cursor: url("./assets/basic/read_more_2_cursor.svg") 79 32, pointer; }
	.cursor_random_case_study { cursor: url("./assets/basic/random_case_study_cursor.svg") 0 50, pointer; }

	.cursor_PNT_resume { cursor: url("./assets/basic/primary_nav_tab_cursor_resume.svg") 0 24, pointer; }
	.cursor_PNT_home { cursor: url("./assets/basic/primary_nav_tab_cursor_home.svg") 0 24, pointer; }
	.cursor_PNT_journey { cursor: url("./assets/basic/primary_nav_tab_cursor_journey.svg") 0 24, pointer; }

	/* Layering */
	.zlift { z-index: 1; } /* z-index lifting tool. */
	.clickthrough { pointer-events: none; }

	/* Others */
	iframe { border: none; }



/*!*--- Light mode ---**/
	.mode_light {

		a { color: $color-gray1-33; }

		.text { color: $color-gray1-33; }

		.text_hint { color: $color-lvsongshi; }

		.content.text { color: $color-gray1-33; }
	}



/*!*--- Dark mode ---**/
	.mode_dark {

		a { color: $color-gray4-CC; }

		.text { color: $color-xiangyabai; }

		.text_hint { color: $color-gray3-99; }

		.content.text { color: $color-gray4-CC; }
	}



/*!*--- Desktop ---**/
	@media (min-width: 800px) {

		//...
	}



/*!*--- Mobile ---**/
